<?xml version="1.0"?>
<launch>
	<arg name="tello_ip" default="192.168.10.1" />
	<arg name="tello_cmd_server_port"	default="8889" />
	<arg name="local_cmd_client_port"	default="8890" />
	<arg name="local_vid_server_port"	default="6038" />
	<arg name="camera_calibration"		default="$(find tello_driver)/cfg/960x720.yaml" />   
	
	<group ns="$(arg tello_ns)">

		<node pkg="load_transport" name="perception" type="main_perception.py" output="screen" if="$(arg is_perception)">
			<param name="ap_id" value="$(arg ap_id)" />
			<param name="tello_ns" value="$(arg tello_ns)" />
		</node>

		<node pkg="load_transport" name="action" type="main_action.py" output="screen" if="$(arg is_action)">
			<param name="tello_ns" value="$(arg tello_ns)" />
		</node>

		<node pkg="rosbag" type="record" name="recorder" output="screen" if="$(arg is_record)" args="
		record -o $(arg dir_ns)/$(arg bag_name).bag 
		/$(arg tello_ns)/cmd_vel 
		/$(arg tello_ns)/land 
		/$(arg tello_ns)/manual_takeoff 
		/$(arg tello_ns)/camera/camera_info 
		/$(arg tello_ns)/camera/compressed/compressed 
		/$(arg tello_ns)/imu 
		/$(arg tello_ns)/odom 
		/$(arg tello_ns)/status 
		/$(arg tello_ns)/payload 
		/$(arg tello_ns)/P_b
		"/>
	</group>

</launch>
