<?xml version="1.0"?>
<launch>
	<arg name="tello_ip" default="192.168.10.1" />
	<arg name="tello_cmd_server_port"	default="8889" />
	<arg name="local_cmd_client_port"	default="8890" />
	<arg name="local_vid_server_port"	default="6038" />
	<arg name="camera_calibration"		default="$(find tello_driver)/cfg/960x720.yaml" />   

	<group ns="$(arg tello1_ns)">

		<node pkg="tello_driver" name="tello_driver_node" type="tello_driver_node" output="screen" if="$(arg is_driver)" args="$(arg ifname1) 9026">
			<param name="local_cmd_client_port" value="$(arg local_cmd_client_port)" />
			<param name="local_vid_server_port" value="$(arg local_vid_server_port)" />
			<param name="tello_ip" value="$(arg tello_ip)" />
			<param name="tello_cmd_server_port" value="$(arg tello_cmd_server_port)" />
			<param name="connect_timeout_sec" value="10.0" />
			<param name="stream_h264_video" value="false" /> 
			<param name="camera_calibration" value="$(arg camera_calibration)" />			
		</node>

		<node pkg="load_transport" name="camera_viz" type="main_camera_viz.py" output="screen" if="$(arg is_camera_viz)">
			<param name="tello_ns" value="$(arg tello1_ns)" />
			<param name="img_type" value="$(arg img_type)" />
		</node>

		<node pkg="load_transport" name="perception" type="main_perception.py" output="screen" if="$(arg is_perception)">
			<param name="tello_ns" value="$(arg tello1_ns)" />
			<param name="kalman_Q" value="$(arg kalman_Q)" />
			<param name="kalman_R" value="$(arg kalman_R)" />
		</node>

		<node pkg="load_transport" name="height" type="main_height.py" output="screen" if="$(arg is_height)">
			<param name="tello_ns" value="$(arg tello1_ns)" />
			<param name="height_Q_az" value="$(arg height_Q_az)" />
			<param name="height_R_h" value="$(arg height_R_h)" />
			<param name="height_R_az" value="$(arg height_R_az)" />
		</node>
		
		<node pkg="image_transport" name="image_compressed" type="republish" args="raw in:=camera/image_raw compressed out:=camera/compressed" />
	</group>
	
	<group ns="$(arg tello2_ns)">

		<node pkg="tello_driver" name="tello_driver_node" type="tello_driver_node" output="screen" if="$(arg is_driver)" args="$(arg ifname2) 9027">
			<param name="local_cmd_client_port" value="$(arg local_cmd_client_port)" />
			<param name="local_vid_server_port" value="$(arg local_vid_server_port)" />
			<param name="tello_ip" value="$(arg tello_ip)" />
			<param name="tello_cmd_server_port" value="$(arg tello_cmd_server_port)" />
			<param name="connect_timeout_sec" value="10.0" />
			<param name="stream_h264_video" value="false" /> 
			<param name="camera_calibration" value="$(arg camera_calibration)" />			
		</node>

		<node pkg="load_transport" name="camera_viz" type="main_camera_viz.py" output="screen" if="$(arg is_camera_viz)">
			<param name="tello_ns" value="$(arg tello2_ns)" />
			<param name="img_type" value="$(arg img_type)" />
		</node>

		<node pkg="load_transport" name="perception" type="main_perception.py" output="screen" if="$(arg is_perception)">
			<param name="tello_ns" value="$(arg tello2_ns)" />
			<param name="kalman_Q" value="$(arg kalman_Q)" />
			<param name="kalman_R" value="$(arg kalman_R)" />
		</node>

		<node pkg="load_transport" name="height" type="main_height.py" output="screen" if="$(arg is_height)">
			<param name="tello_ns" value="$(arg tello2_ns)" />
			<param name="height_Q_az" value="$(arg height_Q_az)" />
			<param name="height_R_h" value="$(arg height_R_h)" />
			<param name="height_R_az" value="$(arg height_R_az)" />
		</node>

		<node pkg="image_transport" name="image_compressed" type="republish" args="raw in:=camera/image_raw compressed out:=camera/compressed" />
	</group>

	<group ns="$(arg tello3_ns)">

		<node pkg="tello_driver" name="tello_driver_node" type="tello_driver_node" output="screen" if="$(arg is_driver)" args="$(arg ifname3) 9028">
			<param name="local_cmd_client_port" value="$(arg local_cmd_client_port)" />
			<param name="local_vid_server_port" value="$(arg local_vid_server_port)" />
			<param name="tello_ip" value="$(arg tello_ip)" />
			<param name="tello_cmd_server_port" value="$(arg tello_cmd_server_port)" />
			<param name="connect_timeout_sec" value="10.0" />
			<param name="stream_h264_video" value="false" /> 
			<param name="camera_calibration" value="$(arg camera_calibration)" />			
		</node>

		<node pkg="load_transport" name="camera_viz" type="main_camera_viz.py" output="screen" if="$(arg is_camera_viz)">
			<param name="tello_ns" value="$(arg tello3_ns)" />
			<param name="img_type" value="$(arg img_type)" />
		</node>

		<node pkg="load_transport" name="perception" type="main_perception.py" output="screen" if="$(arg is_perception)">
			<param name="tello_ns" value="$(arg tello3_ns)" />
			<param name="kalman_Q" value="$(arg kalman_Q)" />
			<param name="kalman_R" value="$(arg kalman_R)" />
		</node>

		<node pkg="load_transport" name="height" type="main_height.py" output="screen" if="$(arg is_height)">
			<param name="tello_ns" value="$(arg tello3_ns)" />
			<param name="height_Q_az" value="$(arg height_Q_az)" />
			<param name="height_R_h" value="$(arg height_R_h)" />
			<param name="height_R_az" value="$(arg height_R_az)" />
		</node>

		<node pkg="image_transport" name="image_compressed" type="republish" args="raw in:=camera/image_raw compressed out:=camera/compressed" />
	</group>

</launch>
